*{margin:0;padding:0;box-sizing:border-box;}
body{background:teal;color:#fff;padding-bottom:10%;}
h1{text-align:center;margin:20% 0 5%;font-family:verdana;font-weight:100;}
#radios{
  position:relative;
  /*width:50%;*/
  /*display: flex;*/
 
  text-align: center;
  margin:0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

input[type="radio"]{
  position:absolute;
  right:1000%;
}
.game{
 /*align-items:center;*/
  width:100px; padding-bottom:100px;
  margin:0 2.5%;
  background:#1f7ad3b8;
  background-size: cover; 
  border-radius:50%;
  cursor:pointer;
  position: relative;
  box-shadow:0 0 10px #1f7ad3;
  
}
.actives{
  box-shadow:0 0 30px #1f7ad3;
}
.game:hover::before, .game:hover::after,
.actives::before, .actives::after
{
  content: '';
  position: absolute;
  border:1px solid #1f7ad3 !important;
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
  border-radius: 50%;
  box-shadow:0 0 10px #1f7ad3;
  animation: game 1.8s linear infinite;
}
.game:hover::after,.actives::after{
  animation-delay: .9s;
}



@keyframes game{
  0%{
    -o-transform: scale(0.8);
	 -ms-transform: scale(0.8);
	 -moz-transform: scale(0.8);
	 -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  50%{
  
    opacity:0.8;
  }
  100%{
    -o-transform: scale(1.2);
	 -ms-transform: scale(1.2);
	 -moz-transform: scale(1.2);
	 -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
}

.erroe-massage, .help-block{
  color: #a94442 !important;
}

