.main-menu-wrap {
    z-index: 999;
    opacity: 0.97;
}
.form-horizontal .control-label {
    text-align: left;
}
button[name='login-button'] {
    float: right;
}
#login-form .item span i {
    font-style: normal;
    color: #d32f2f;
}
#login-form {
    margin-bottom: 15px;
}
.login-error .login-error_message {
    color: #d32f2f;
    font-size: 14px;
}
.password-error_message {
    color: #d32f2f;
    font-size: 13px;
    margin-bottom: 20px;
}
input[type=email], input[type=password] {
    padding: 15px 10px;
    border: 1px solid transparent;
    width: 100%;
    background: #fff;
    font-size: 14px;
    color: #666;
    line-height: normal;
    outline: 0;
}
.forgot-email {
    font-size: 12px;
}
.help-text {
    font-size: 13px;
    padding-bottom: 15px;
}
.alert-success {
    font-size: 12px;
}
.to-home {
    margin-top: 12px;
}
.errors-list > p {
    font-size: 14px;
}
.btn-red {
    background: #cc2121 !important;
    color: #fff;
}
.btn-red:hover {
    opacity: .6;
}

.main-menu-wrap .custom-logo-link {
    z-index: 100000;
}

.main-slider-section{
    background: none;
}

.top-language img {
    width: 30px;
}

.top-language .list {
    padding: 15px 0 15px 20px;
}


.top-language .list li a {
    background-image: none;
}

.top-language .dropdown-menu {
    min-width: 90px;
    max-width: 90px;
}

.main-menu .block-add-message{
    padding: 0;
}

.block-add-message .badge{
    background-color: #d01414;
    padding: 3px 10px;
    border: none;
}

.block-add-message .badge:hover{
    background-color: #a52424;
}

.column-img-game img{
    height: 100%;
}

.imag-card-hear img {
    height: 75px;
}

.table-statistic .number-card{
    text-align: center;
}

.main-menu-wrap .custom-logo-link:before {
    right: -5%;
}


.stats-title{
    text-align: center;
    overflow: hidden;
    margin: 40px 0 20px;
}

.stats-title span{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #1976d2;
}

.stats-title span:before, .stats-title span:after{
    content: "";
    position: absolute;
    border-top: 3px solid #00aeff;
    top: 50%;
    width: 410px;
}

.stats-title span:before {
    right: 100%;
    margin-right: 15px;
}

.stats-title span:after {
    left: 100%;
    margin-left: 15px;
}

.contener-card-img{
    text-align: center;
}

.contener-card-img img{
    border-radius: 50%;
}

.card-opis-block{
    text-align: center;
}

.card-opis-block .title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #1976d2;
    margin-top: 10px;
}

.card-opis-block .title{
    text-transform: uppercase;
    color: #1976d2;
}

.card-opis-block .players{
    color: #1976d2;
}

.contener-card-img-autsid img{
    border-radius: 15px;
    height: 100px;
}

.card-opis-block-auts {
    font-size: 14px;
    font-weight: bold;
    color: #1976d2;
}

.edgtf-page-header a:hover {
    color: #1976d2;
}

::selection {
    background: #67acec;
    color: #17161a;
}

body::-webkit-scrollbar-thumb {
    background-color: #67acec;
    outline: 1px solid #67acec;
}

.edgtf-main-menu > ul > li > a:after {
    background-color: #005DB4;
}

#respond textarea:focus, .edgtf-style-form textarea:focus, 
#respond input:focus[type='text'], input:focus[type='text'], 
input:focus[type='email'], input:focus[type='password'],
 .wpcf7-form-control.wpcf7-text:focus, 
.wpcf7-form-control.wpcf7-number:focus, .wpcf7-form-control.wpcf7-date:focus, 
.wpcf7-form-control.wpcf7-textarea:focus, .wpcf7-form-control.wpcf7-select:focus, 
.wpcf7-form-control.wpcf7-quiz:focus {
    border-color: transparent;
    border-bottom-color: #3cb9d5;
}

.edgtf-drop-down .second 
.inner ul li a .item_outer:before {
    background-color: #005DB4;
}

/*============================header table====================================*/

.blok-tabs{
    background-color: #fcfcfc;
    overflow: hidden;
    border-bottom: 1px solid #2196f3;
}

.lenk-sot{
    display: inline-block;
    transform: skew(20deg);
    -webkit-transition: background-color 1s cubic-bezier(.19,1,.22,1);
    -moz-transition: background-color 1s cubic-bezier(.19,1,.22,1);
     transition: background-color 1s cubic-bezier(.19,1,.22,1); 
        float: left;
    margin: 0;
    margin-left: -2px;
    padding: 0;
}

.lenk-sot:hover{
    background-color: #2196f3;
}

.lenk-sot:hover a{
    color: #fff;
}

.lenk-sot.active{
    background-color: #2196f3; 
}

.lenk-sot.active a{
    color: #fff;
}

.lenk-sot a{
    padding: 12px 47px;
    line-height: 24px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg);
    display: block;
    text-transform: uppercase;
}
/*============================end header table=================================*/

.top-language a img{
    display: inline;
}

.top-language .list li a{
    color: #fff;
}
.dropdown-menu {
   background-color: #17161a;
}
.top-language .list li a {
    padding-right:  0;
}

.news-list .item .info {
    padding: 10px 30px 16px 30px;
}

.main-sponsor-slider-background{
    padding-top: 50px;
}

.main-slider-section .item .img-slid{
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.footer h4, .footer ul.contact-list li a, .footer ul.contact-list li span, .footer ul.contact-list li.phone span {
    color: #999;
}

.games.table-statistic thead th{
    
    background-color: #fcfcfc;
    
    padding: 0;
    border-bottom: 1px solid #2196f3;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: relative;
}

.games.table-statistic thead th a {
    position: relative;
    padding: 12px 47px;
    line-height: 24px;
    background-color: transparent;
    display: block;
    text-transform: uppercase;
    z-index: 25;
}

.games.table-statistic thead th:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    transform: matrix(1, 0, 0.2, 1, -8, 0);
    /*transform: skew(20deg);*/
    -webkit-transition: background-color 1s cubic-bezier(.19,1,.22,1);
    -moz-transition: background-color 1s cubic-bezier(.19,1,.22,1);
    transition: background-color 1s cubic-bezier(.19,1,.22,1);
    z-index: 24;


}

.games.table-statistic .active:before ,.games.table-statistic thead th:hover:before {
    background-color: #2196f3;
}

.games.table-statistic .active a, .games.table-statistic thead th:hover a {
    color:#fff;
}

#users_statistics{
    overflow: hidden;
}
/*==================================notification tabs===================================*/
.edgtf-tabs.edgtf-tabs-standard.notification .edgtf-tabs-nav li{
    padding: 0;
}

.edgtf-tabs.edgtf-tabs-standard.notification .edgtf-tabs-nav li.ui-state-active{
    background-color: #005db4;
}


.edgtf-tabs.edgtf-tabs-standard.notification .edgtf-tabs-nav li.ui-state-hover{
    background-color: #005db4;
}

.edgtf-tabs.edgtf-tabs-standard.notification .edgtf-tabs-nav li a{
    padding: 3px 12px;
    font-size: 11px;
    text-transform: unset;

}

.edgtf-tabs.edgtf-tabs-standard.notification .edgtf-tabs-nav li a:focus {
    outline: none;
}

.edgtf-side-menu .edgtf-side-area-inner {
    height: 100%;
    width: 100%;
}

.notification .item::before{
    border-right: 5px solid #17161a99;
}

.notification .item{
    margin: 20px 0;
    margin: 20px 0;
    background-color: #17161a99;
    padding: 5px;
}

.notification .team-timeline:before{
    display: none;
}

.notification .team-timeline .item .info {
    padding: 5px;
}

.notification .team-timeline .item .info p,
.notification .team-timeline .item .info a,
.notification .team-timeline .item .info div
{
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

.notification .team-timeline .item .info a:focus{
    color: #fff;
}

.notification .team-timeline .item .info a:hover{
    color: #fff;
}

.notification .team-timeline .title-mes{
    padding-left: 10px;
    padding-top: 10px;
}

.notification .team-timeline .item .info .name{
    color: #fff;
    /*padding-left: 50px;*/
    line-height: 20px;
    font-size: 12px;
    padding-bottom: 9px;
}

.notification .team-timeline .date-n {
    color: #005db4;
    padding-left: 10px;
    font-size: 12px;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}
/*//=====================================noty============================================//*/

.noty_body .info .name{
    text-transform: uppercase;
    font-weight: bold;
    color: #03427f;

}

.noty_body .info div,.noty_body .info p,.noty_body .info span{
    color:#0a0808;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.noty_body .info a:hover {
    color: #ff0e1f;
}

/*//=====================================profile - ============================================//*/
.table-tourn td img {
    border-radius: 5px;
}

.table-tourn td {
    vertical-align: middle;
    padding: 8px;
}

.table-tourn p {
    font-size: 12px;
    margin-bottom: 3px;
}

.table-tourn .btn{
    padding: 5px;
    font-size: 12px;
}

.table-tourn .name{
    color: #1f7ad3;
    font-weight: bold;
}
/*//////////////////////////////////////////////////////////////*/
.datetimepicker table tr th, .datetimepicker table tr th,.datetimepicker table tr th {
    text-align: center;
    background-color: #fcfcfc !important;;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

.dropdown-menu {
    background-color: #f0f0f3;
}

/*=========================================================================================*/
.tooltips {
  position: relative;
  /*width: 100%;
  max-width: 200px;
  height: 50px;
  margin: 200px auto;
  border: 1px solid #808080;
  cursor: pointer;*/
}
.tooltips:hover .tooltips-content {
  display: block;
  animation: tooltips 0.7s ease forwards;
}
.tooltips-content {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: calc(100% + 50px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 350px;
  min-width: 300px;
  padding: 5px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15);
  z-index: 100;
  font-size: 12px;
  background-color: white;
}
.tooltips-arrow {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 25px;
  overflow: hidden;
}
.tooltips-arrow:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 8px 8px 9px -4px rgba(0,0,0,0.15);
}
@-moz-keyframes tooltips {
  100% {
    opacity: 1;
    bottom: calc(100% + 30px);
  }
}
@-webkit-keyframes tooltips {
  100% {
    opacity: 1;
    bottom: calc(100% + 30px);
  }
}
@-o-keyframes tooltips {
  100% {
    opacity: 1;
    bottom: calc(100% + 30px);
  }
}
@keyframes tooltips {
  100% {
    opacity: 1;
    bottom: calc(100% + 30px);
  }
}




