.main-menu-wrap {
    z-index: 999;
    opacity: 0.97;
}
.form-horizontal .control-label {
    text-align: left;
}
button[name='login-button'] {
    float: right;
}
#login-form .item span i {
    font-style: normal;
    color: #d32f2f;
}
#login-form {
    margin-bottom: 15px;
}
.login-error .login-error_message {
    color: #d32f2f;
    font-size: 14px;
}
.password-error_message {
    color: #d32f2f;
    font-size: 13px;
    margin-bottom: 20px;
}
input[type=email], input[type=password] {
    padding: 15px 10px;
    border: 1px solid transparent;
    width: 100%;
    background: #fff;
    font-size: 14px;
    color: #666;
    line-height: normal;
    outline: 0;
}
.forgot-email {
    font-size: 12px;
}
.help-text {
    font-size: 13px;
    padding-bottom: 15px;
}
.alert-success {
    font-size: 12px;
}
.to-home {
    margin-top: 12px;
}
.errors-list > p {
    font-size: 14px;
}
.btn-red {
    background: #cc2121 !important;
    color: #fff;
}
.btn-red:hover {
    opacity: .6;
}

.main-menu-wrap .custom-logo-link {
    z-index: 100000;
}

.main-slider-section{
    background: none;
}

.top-language img {
    width: 30px;
}

.top-language .list {
    padding: 15px 0 15px 20px;
}


.top-language .list li a {
    background-image: none;
}

.top-language .dropdown-menu {
    min-width: 90px;
    max-width: 90px;
}

.main-menu .block-add-message{
    padding: 0;
}

.block-add-message .badge{
    background-color: #d01414;
    padding: 3px 10px;
    border: none;
}

.block-add-message .badge:hover{
    background-color: #a52424;
}

.column-img-game img{
    height: 100%;
}

.imag-card-hear img {
    height: 75px;
}

.table-statistic .number-card{
    text-align: center;
}

.main-menu-wrap .custom-logo-link:before {
    right: -5%;
}


.stats-title{
    text-align: center;
    overflow: hidden;
    margin: 40px 0 20px;
}

.stats-title span{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #1976d2;
}

.stats-title span:before, .stats-title span:after{
    content: "";
    position: absolute;
    border-top: 3px solid #00aeff;
    top: 50%;
    width: 410px;
}

.stats-title span:before {
    right: 100%;
    margin-right: 15px;
}

.stats-title span:after {
    left: 100%;
    margin-left: 15px;
}

.contener-card-img{
    text-align: center;
}

.contener-card-img img{
    border-radius: 50%;
}

.card-opis-block{
    text-align: center;
}

.card-opis-block .title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #1976d2;
    margin-top: 10px;
}

.card-opis-block .title{
    text-transform: uppercase;
    color: #1976d2;
}

.card-opis-block .players{
    color: #1976d2;
}

.contener-card-img-autsid img{
    border-radius: 15px;
    height: 100px;
}

.card-opis-block-auts {
    font-size: 14px;
    font-weight: bold;
    color: #1976d2;
}

.edgtf-page-header a:hover {
    color: #1976d2;
}

::selection {
    background: #67acec;
    color: #17161a;
}

body::-webkit-scrollbar-thumb {
    background-color: #67acec;
    outline: 1px solid #67acec;
}

.edgtf-main-menu > ul > li > a:after {
    background-color: #005DB4;
}

#respond textarea:focus, .edgtf-style-form textarea:focus, 
#respond input:focus[type='text'], input:focus[type='text'], 
input:focus[type='email'], input:focus[type='password'],
 .wpcf7-form-control.wpcf7-text:focus, 
.wpcf7-form-control.wpcf7-number:focus, .wpcf7-form-control.wpcf7-date:focus, 
.wpcf7-form-control.wpcf7-textarea:focus, .wpcf7-form-control.wpcf7-select:focus, 
.wpcf7-form-control.wpcf7-quiz:focus {
    border-color: transparent;
    border-bottom-color: #3cb9d5;
}

.edgtf-drop-down .second 
.inner ul li a .item_outer:before {
    background-color: #005DB4;
}

/*============================header table====================================*/

.blok-tabs{
    background-color: #fcfcfc;
    overflow: hidden;
    border-bottom: 1px solid #2196f3;
}

.lenk-sot{
    display: inline-block;
    transform: skew(20deg);
    -webkit-transition: background-color 1s cubic-bezier(.19,1,.22,1);
    -moz-transition: background-color 1s cubic-bezier(.19,1,.22,1);
     transition: background-color 1s cubic-bezier(.19,1,.22,1); 
        float: left;
    margin: 0;
    margin-left: -2px;
    padding: 0;
}

.lenk-sot:hover{
    background-color: #2196f3;
}

.lenk-sot:hover a{
    color: #fff;
}

.lenk-sot.active{
    background-color: #2196f3; 
}

.lenk-sot.active a{
    color: #fff;
}

.lenk-sot a{
    padding: 12px 47px;
    line-height: 24px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg);
    display: block;
    text-transform: uppercase;
}
/*============================end header table=================================*/