

.staff-box .info:before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    right: -20px;
    background: rgba(175, 206, 247, 0.51);
    transform: skew(-10deg);
    transition: all .4s;
}

.staff-box .item:hover .info:before {
    background: rgba(175, 206, 247, 0.80);
    right: -50px;
}

.edgtf-st-title:before {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    width: 0;
    height: 0;
    margin-right: 11px;
    border-top: 10px solid transparent;
    border-left: 10px solid #1976d2;
    border-bottom: 10px solid transparent;
}

/*============================================================*/

.edgtf-match-item-holder {
    display: table;
    width: 100%;
    position: relative;
    z-index: 10;
}

.edgtf-match-item-holder article {
    padding: 26px 90px 35px 60px;
    box-sizing: border-box;
}

.edgtf-match-item-holder, .edgtf-match-status-finished {
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: middle;
}


.edgtf-match-status-finished:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0d0d0d;
    background: -moz-linear-gradient(left,rgba(15,15,15,.8) 0,#540e0f 50%,rgba(15,15,15,.8) 100%);
    background: -webkit-linear-gradient(left,rgba(15,15,15,.8) 0,#540e0f 50%,rgba(15,15,15,.8) 100%);
    background: linear-gradient(to right,rgba(15,15,15,.8) 0,#540e0f 50%,rgba(15,15,15,.8) 100%);
    opacity: 0;
    -webkit-transition: .6s cubic-bezier(.645,.045,.355,1);
    -moz-transition: .6s cubic-bezier(.645,.045,.355,1);
    transition: .6s cubic-bezier(.645,.045,.355,1);
}
.edgtf-match-status-finished .edgtf-match-item-holder {
    display: table;
    width: 100%;
    position: relative;
    z-index: 10;
}

.edgtf-match-status-finished .edgtf-match-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.edgtf-match-status-finished .edgtf-match-item-holder .edgtf-match-single-team {
    width: 124px;
}

.edgtf-match-status-finished .edgtf-match-item-holder .edgtf-match-result-holder {
    width: 50px;
    text-align: right;
    padding-right: 60px;
    font-family: Rubik,sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5em;
}

.edgtf-match-vs-image img{
    height: 50px;
}

.edgtf-match-item-image-holder {
    vertical-align: middle;
    text-align: center;
}
.edgtf-match-item-image-holder img {
    height: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

.edgtf-match-info{
    text-align: center;
}

.edgtf-match-vs-image {
    width: 100px;
    text-align: center;
    padding: 15px 20px 0;
}

.edgtf-match-title {
    margin: 10px 0 3px;
    padding: 0;
    -webkit-transition: all .3s cubic-bezier(.6,0,.26,.99);
    -moz-transition: all .3s cubic-bezier(.6,0,.26,.99);
    transition: all .3s cubic-bezier(.6,0,.26,.99);
}
.edgtf-match-date {
    font-size: 13px;
}

.edgtf-match-result-holder {
    width: 50px;
    text-align: right;
    padding-right: 60px;
    font-family: Rubik,sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5em;
}

.edgtf-match-info-status{
	font-weight: bold;
	font-size: 19px;
}
.edgtf-match-team-title {
    margin: 5px 0 0;
    text-align: center;
    font-size: 14px;
    padding: 0;
    margin-bottom: 15px;
}
.edgtf-match-status-finished {
	background-color:#fff;
    border-top: 1px solid  #d2d0d0;
}
.edgtf-match-status-finished:hover {
    background: #f2f2f2;
}


.edgtf-match-category-holder span {
    position: relative;
    display: inline-block;
    color: #fff;
    background-color: #1976d2;;
    padding: 0 13px;
    margin-right: 15px;
    font-size: 13px;
    line-height: 22px;
}


.edgtf-match-category-holder span:after {
    content: '';
    position: absolute;
    top: -1px;
    right: -5px;
    width: 0;
    height: 0;
    border-bottom: 23px solid #1976d2;
    border-right: 5px solid transparent;
}
/*=======================================*/


.edgtf-stream-box-holder {
    white-space: nowrap;
    font-size: 0;
}
.edgtf-stream-box-holder>div {
    overflow: hidden;
}
.edgtf-sb-main-stream-item {
    position: relative;
    width: 100%;
}

.edgtf-sb-bottom-stream-item {
    display: inline-block;
    position: relative;
    margin: 0;
    vertical-align: top;
    width: 50%;
}
.edgtf-sb-main-stream-holder {
    position: relative;
    z-index: 10;
}

.edgtf-sb-link {
    z-index: 100;
}


.edgtf-stream-box-holder .edgtf-sb-link, .edgtf-stream-box-holder .edgtf-sb-link:after, .edgtf-stream-box-holder .edgtf-stream-bgrnd {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
}
.edgtf-stream-box-holder .edgtf-sb-link:after {
    content: '';
    background-color: rgba(255,255,255,.02);
    opacity: 0;
    -webkit-transition: opacity 20ms;
    -moz-transition: opacity 20ms;
    transition: opacity 20ms;
}

.edgtf-stream-box-holder .edgtf-sb-main-stream-item .edgtf-sb-main-image img {
    display: block;
    width: 100%;
}

.edgtf-stream-box-holder>div img {
    will-change: transform;
    -webkit-transition: -webkit-transform .35s;
    -moz-transition: -moz-transform .35s;
    transition: transform .35s;
}

.edgtf-stream-box-holder .edgtf-sb-main-stream-item .edgtf-video-button-play {
    color: #fff;
    font-size: 64px;
    line-height: 1;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.edgtf-sb-main-stream-item .edgtf-video-button-play {
    color: #fff;
    font-size: 64px;
    line-height: 1;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.fas {
    font-weight: 900;
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: Font Awesome\ 5 Free;
}
.fa-play:before {
    content: "\f04b";
}

.edgtf-sb-main-stream-item .edgtf-sb-text-holder {
    padding: 18px 100px 20px 30px;
}

.edgtf-sb-main-stream-item .edgtf-sb-text-holder {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(15,15,15,.8);
    padding: 24px 100px 26px 30px;
}

.edgtf-sb-main-stream-item .edgtf-sb-text-holder .edgtf-sb-platform {
    color: #171717;
    background-color: #fff;
}

 .edgtf-sb-main-stream-item .edgtf-sb-text-holder .edgtf-sb-platform {
    display: inline-block;
    font-size: 13px;
    margin-right: 5px;
    padding: 0 12px;
    position: relative;
}

.edgtf-sb-main-stream-item .edgtf-sb-text-holder .edgtf-sb-channel {
    color: #fff;
    background-color: #ff0e1f;
    margin-left: 5px;
}

 .edgtf-sb-main-stream-item .edgtf-sb-text-holder .edgtf-sb-channel {
    display: inline-block;
    font-size: 13px;
    margin-right: 5px;
    padding: 0 12px;
    position: relative;
}

.edgtf-sb-channel:before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    width: 0;
    height: 0;
    border-top: 27px solid #ff0e1f;
    border-left: 5px solid transparent;
}

.edgtf-sb-main-stream-item .edgtf-sb-text-holder .edgtf-sb-platform:after {
    content: '';
    position: absolute;
    top: -1px;
    right: -5px;
    width: 0;
    height: 0;
    border-bottom: 27px solid #fff;
    border-right: 5px solid transparent;
}

.edgtf-sb-main-stream-item .edgtf-sb-text-holder .edgtf-sb-title {
    margin: 0 0 10px;
    color:#fff;
}
.edgtf-sb-link{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
}

.edgtf-sb-link:after {
    content: '';
    background-color: rgba(255,255,255,.02);
    opacity: 0;
    -webkit-transition: opacity 20ms;
    -moz-transition: opacity 20ms;
    transition: opacity 20ms;
}


.edgtf-stream-box-holder .edgtf-stream-bgrnd {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
}
.edgtf-sb-bottom-stream-holder, .edgtf-stream-box-holder .edgtf-sb-main-stream-holder {
    position: relative;
    z-index: 10;
}

.edgtf-stream-bgrnd {
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .35s;
    -moz-transition: -moz-transform .35s;
    transition: transform .35s;
}

.edgtf-sb-link {
    z-index: 100;
}

.edgtf-sb-bottom-stream-image img {
    display: block;
    width: 100%;
}

.edgtf-stream-box-holder>div img {
    will-change: transform;
    -webkit-transition: -webkit-transform .35s;
    -moz-transition: -moz-transform .35s;
    transition: transform .35s;
}

.edgtf-sb-bottom-stream-item .edgtf-sb-text-holder {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(15,15,15,.8);
    width: 50%;
    padding: 5px 30px;
    box-sizing: border-box;
}
.edgtf-sb-bottom-stream-item .edgtf-sb-text-holder:after {
    content: "\f04b";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 30px;
    color: #fff;
    font-size: 14px;
}

.edgtf-sb-title{
	color: #fff;
}
.image-header{
	position: relative;
}
.geme-foto{
	position: absolute;
	height: 150px;
	width: 150px;
	z-index: 80;
	top:50px;
	left: 50px;
	overflow: visible;
}

.geme-foto img{
	display: block;
	border-radius: 5%;
}

.image_big img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
.image_big img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }

.staff-box .info {
    z-index: 80;
}
/*//////////////*/

.staff-box .info .number {
    left: 15px;
    bottom: 23px;
    font-size: 20px;
    color: #1976d2;
}
.blue-font {
    color: #217ad3;
}

.alert-success p{
    text-align: center;
    font-size: 19px;
}

.block_icon i,.block_icon span{
    font-size: 28px;
    color:#1976d2;
}

.block_icon {
    margin: 20px 0;
    text-align: center;
    color:#82878a;
}

.staff-box .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;

}

.btn-sm{
    text-transform:none;
    padding: 5px 10px;
    font-size: 14px;
}

.staff-box .info {
    padding: 10px 0 10px 15px;
    width: 34%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -1px;
    display: block;
}

.timeline-bar{
    position: relative;
}

.timeline-bar .bar{
    width: 100%;
}

.timeline-bar .date.date-i {
    left: 100%;
}

.date.date-3:before,.date.date-2:before,.date.date-1:before,.date.date-4:before,.date.date-5:before{
    transform:translateX(50%);
}

.timeline-bar .date.date-i:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: green;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 101;
    transform:translateX(50%);
}

.timeline-bar .date.date-1:before,
.timeline-bar .date.date-2:before,
.timeline-bar .date.date-3:before, 
.timeline-bar .date.date-4:before,
.timeline-bar .date.date-5:before 
{
   z-index: 100;
}

.timeline-bar .date {
    top: -33px;
}

.cup_img img{
    height: 50px;
    color: red;
}

.cup_img {
    transform:translateX(-50%);
    font-size: 12px;
    line-height: 16px; 
}

.cup_img{
    position: absolute;
    top:25px;
}

.cup_img p{
    text-align: center;
    margin:0;
}


.timeline-bar .date.date-1 {
    left: 16.666666667%;
}

.timeline-bar .date.date-2 {
    left: 33.333333334%;
    
}

.timeline-bar .date.date-3 {
    left: 50%;
}

.timeline-bar .date.date-4 {
    left: 66.666666667%;
}

.timeline-bar .date.date-5 {
    left: 83.333333334%;
    
}


.cup_img1{
    left:16.666666667%;
}

.cup_img2{
    left:33.333333334%;
}

.cup_img3{
    left:50%;
}

.cup_img4 {
    left: 66.666666667%;
}

.cup_img5 {
    left: 83.333333334%;
    
}

.timeline-bar .bar-result{
    position:relative;
    border-bottom: 2px solid green;
    bottom: 2px;
}

.timeline-bar .my-result{
    position: absolute;
    top:15px;
    left: 100%;
    transform:translateX(-50%);
    font-size: 12px;
    line-height: 16px;
    width: 100px;
}

.timeline-bar .my-result p{
    text-align: center;
    margin: 0;
}

.item-header .channel p{
    margin: 5px 0 ;
    margin-left: 30px;
    display: inline-block;
}


.item-header .channel img{
    height: 60px !important;
    width: auto !important;
}
.broadcast-item.active .item-header .channel img{
    border-radius: 5px;
    background-color: #fff;

}

.broadcast-item .channel {
    display: flex;
    padding: 11px;
    align-items: center;
    height: 100px;
}

.social-links a i{
    font-size: 25px;
}

.card-f-herst img {
    height: 60px;
}

.lain-capitan:after{
    content: "Capitan";
    display: block;
    padding: 2px 8px;
    border-radius: 10px;
    position: absolute;
    bottom: 5%;
    height: 30px;
    width: 130px;
    background-color: red;
    right: -20px;
    color:#fff;
    display: block;
    font-weight: bold;
}

.edgtf-match-item-image-holder img{
    border-radius: 50%;
}

/*------------------------------menu---------------------------*/
.youplay-user-navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 82;
}

.youplay-user-navigation ul li.active>a::after {
    background-color: #f7f7f7;
}

.youplay-user-navigation ul li>a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    -webkit-transition: .3s background-color;
    transition: .3s background-color;
    -webkit-transform: skew(-7deg);
    transform: skew(-7deg);
    z-index: -1;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
}

.youplay-user-navigation ul li>a {
    position: relative;
    display: block;
    padding: 1.25rem 1.8rem;
    font-size: 1.6rem;
    color: #696666;
    text-decoration: none;
    background: 0 0;
    border: none;
    border-radius: 0;
    font-weight: bold;
}

.youplay-user-navigation ul li>a {
    padding: 1.2rem 1.5rem;
    font-size: 1.4rem;
}

.youplay-user-navigation ul li:focus>a::after, .youplay-user-navigation ul li:hover>a::after {
    background-color: rgba(255,255,255,.4);
}

.nav-tabs>li>a:hover {
    border-color: transparent;
    text-decoration: none;
    background-color: transparent;
}

.youplay-user-navigation .container {
    margin-left: 15px;
}
/*------------------------------end-menu---------------------------*/
.owl-theme img {
    border-radius: 8px;
}

.history-conteinr p img {
    height: 60px;
    border-radius: 50%;
}

.history-conteinr p {
    margin: 0;
}

.history-conteinr p {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.history-conteinr p a,.history-conteinr p b{
    margin: 10px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 7em;
}

.history-conteinr .matche-history{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.history-conteinr .matche-history>span {
    margin: 10px;
}

.history-conteinr .matche-history a{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}
.history-conteinr .matche-history a>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-conteinr .matche-history a>div>span{
    font-weight: bold;
}

.history-conteinr .matche-history a>div img{
    width: 60px;
}

.history-conteinr .matche-history a img{
    height: 60px;
    border-radius: 50%;
}

.history-conteinr .tournament-history {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.history-conteinr .tournament-history a>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history-conteinr .tournament-history img {
    border-radius: 5px;
}

.scrol-histoty{
    overflow: auto;
    max-height: 800px;
    margin-bottom: 30px;
}

.tournament-history .title-his{
    margin-left: 20px;
}

.tournament-history .title-his a {
    font-weight: bold;
}

.edgtf-match-item-holder .logo-team{
    border-radius: 50%;
    height: 60px;
    width: auto;
}

.edgtf-match-item-holder .vs img{
    height: 50px;
    width: auto;
}

.edgtf-match-item-holder .vs{
    margin-top: 20px;
}

.edgtf-match-item-holder .team,.edgtf-match-item-holder .vs{
    text-align: center;
    text-transform: capitalize;
    padding: 0;
}

.flex.logo-tor-team{
    padding-left: 50px;
}

@media (max-width: 705px) {

    .blok-tabs .lenk-sot a{
        font-size: 13px;
        padding: 12px 15px;
    }

    .blok-tabs .lenk-sot:first-child a{
        padding-left: 20px;
    }

    .edgtf-match-info h5{
        font-size: 16px;
    }

    .edgtf-match-item-holder .logo-team{
        height: 50px;
    }

    .edgtf-match-item-holder .vs img{
        height: 40px;
    }

    .scrol-histoty .flex{
        font-size: 14px;
    }

    .flex.logo-tor-team{
        padding-left: 10px;
    }
}