.format_campions{
    display: flex;
    align-items: center;
    border: 1px solid #98bee475;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.format_campions .container_img img{
    height: 65px;
}

.format_campions .container_img{
    padding: 10px 8px;
}


.format_campions{
    background-color:#fff;
}

.format_campions h5{
    padding-top: 15px;
    margin-right:15px;
    font-style: italic;
    text-align: center;
}
.elimination h5{
    margin-right:0;
    font-size: 14px;
    
}

.active_campions{
    border: 1px solid #1f7ad3;
    box-shadow:0 0 20px #1f7ad3;
}
.radiolist_elimination{
    display: none;
}
.table-condensed tr td:last-child span{
    background: transparent;
    color:#000;
}
.table-condensed tr td:first-child{
    text-align: center;
}
.table-condensed tr th{
   background: transparent;
    color:#000;
}
#tournaments-start_date-datetime .datainput{
    padding: 25px 10px;
    border: 1px solid transparent;
    width: 100%;
    background: #fff;
    font-size: 14px;
    color: #666;
    line-height: normal;
    outline: 0;
    height: 15px;
}
#tournaments-start_date-datetime .datainput:focus{
    box-shadow: none;
}

.close_stream{
    cursor: pointer;
    width: 40px;
    position: relative;
    bottom: 5px;
    height: 42px;
    opacity: 1;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
}

.close_stream:before, .close_stream:after {
    position: absolute;
    left: 20px;
    content: ' ';
    height: 40px;
    width: 3px;
    background-color: red;
}

.close_stream:before {
    transform: rotate(45deg);
}
.close_stream:after {
    transform: rotate(-45deg);
}

.plashka_stream select{
    height: 50px;
    padding: 12px 12px;
    border: none;
    outline: none;

}

.plashka_stream select:focus {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
    background: #eeeeee;
    color: #000;
}

.datetimepicker table tr td span:hover {
    background: #eeeeee;
    color: #000;
}

table tr td:first-child {
    text-align: center;
}

.league{
    vertical-align: middle;
    height: 80px;
    text-align: center;
}

.league span{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.container_cards{
    text-align: center;
}

.block_card_class,.block_pokemon{
    display: inline-block;
    background-color: #fff;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #207ad54a;
    margin:10px;
}

.block_card_class img{
    width: 140px;
}

.block_pokemon{
    padding: 5px 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.block_card_class p{
    font-weight: bolder;
    color: #207ad3;
}

.block_card_class:hover,.block_pokemon:hover {
    -webkit-box-shadow: 0px 0px 22px 1px #207ad3;
    -moz-box-shadow: 0px 0px 22px 1px #207ad3;
    box-shadow: 0px 0px 22px 1px #207ad3;
}

.block_card_active{
    -webkit-box-shadow: 0px 0px 22px 1px #207ad3;
    -moz-box-shadow: 0px 0px 22px 1px #207ad3;
    box-shadow: 0px 0px 22px 1px #207ad3;
}

.btn-save{
    width: 100% ;
}

.datetimepicker td,  .datetimepicker th {
    text-align: center !important;
    width: 15px !important;
    height: 15px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    border: none !important;
    padding:8px !important;
    font-size: 12px !important;
}

.datetimepicker table tr td:first-child {
    text-transform: uppercase !important;
    font-family: Montserrat,sans-serif !important;
    text-align: center !important;
}

.datetimepicker table tr th{
    background-color: transparent !important;
    color: #000 !important;
}


.datetimepicker table tr td span{
    background-color: transparent !important;
    color: #000 !important;
}

.datetimepicker table tr td.old, .datetimepicker table tr td.new {
    color: #000 !important;
}

.input_descstring,.input_details{
    margin-top: 20px;
}

.input_descstring input[type=text],.input_details input[type=text]{
    border: 1px solid #999;
    border-radius: 5px;
}

.btn-cards,.btn-detals{
    width: 180px;
    padding: 10px 20px !important;
}

.input_details div.fancy-select div.trigger{
    border: 1px solid #999;
    border-radius: 5px;
}

.input_details div.fancy-select div.trigger.open{
    border: 1px solid #999;
    border-radius: 5px;
}

.content_profile .avatar{
    text-align: center;
}

.content_profile .avatar{
    text-align: center;
}

.content_profile .avatar img{
    box-shadow: 0 0 10px #e02929;
    border: 2px solid #000;
    border-radius: 2px;
}

.block_pokemon{
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}