.table-condensed tr td:last-child span{
    background: transparent;
    color:#000;
}
.table-condensed tr td:first-child{
    text-align: center;
}
.table-condensed tr th{
   background: transparent;
    color:#000;
}
#tournaments-start_date-datetime .datainput,.input_numeric,.hidden_num input{
    padding: 25px 10px;
    border: 1px solid transparent;
    width: 100%;
    background: #fff;
    font-size: 14px;
    color: #666;
    line-height: normal;
    outline: 0;
    height: 15px;
}
#tournaments-start_date-datetime .datainput:focus{
    box-shadow: none;
}

.help-block{
    color:red;
}

.alert_tour .alert{
 font-size: 16px;
}

.radiolist_only{
    text-align: center;
}

#tournaments-flag label{
    display: inline-block;
    margin-left: 35px;
}

.conteiner_filed {
    margin-top: 25px;
    margin-bottom: 25px;
   
   
}

/*.nidden_select,.hidden_num{
    display: none;
}*/
.system_select_message{
    margin-top: 10px;
    font-size: 14px;
    color: red;
}