.table-condensed tr td:last-child span{
    background: transparent;
    color:#000;
}
.table-condensed tr td:first-child{
    text-align: center;
}
.table-condensed tr th{
   background: transparent;
    color:#000;
}
#tournaments-start_date-datetime .datainput,.input_numeric,.hidden_num input{
    padding: 25px 10px;
    border: 1px solid transparent;
    width: 100%;
    background: #fff;
    font-size: 14px;
    color: #666;
    line-height: normal;
    outline: 0;
    height: 15px;
}
#tournaments-start_date-datetime .datainput:focus{
    box-shadow: none;
}

.help-block{
    color:red;
}

.alert_tour .alert{
 font-size: 16px;
}

.radiolist_only{
    text-align: center;
}

#tournaments-flag label{
    display: inline-block;
    margin-left: 35px;
}

.conteiner_filed {
    margin-top: 25px;
    margin-bottom: 25px;
   
   
}


.system_select_message{
    margin-top: 10px;
    font-size: 14px;
    color: red;
}

/*/////////////////////////////////////////////////////////////////*/

.modal_search, .modal_search_team {
    border: 1px solid #cccccc7d !important;
}


#content_modal {
    margin-bottom: 50px;
    margin-top: 20px;
    overflow: auto;
    max-height: 400px;
}

.plashka_user, .plashka_teams {
    border: 1px solid #cccccc7d;
    margin-top: 10px;
    padding: 0;
    border-radius: 7px;
}

.img_logo_modal {
    height: 80px;
    width: 80px;
}


.img_logo_modal img {
    max-width: 100%;
    max-height: 100%;
    padding: 7px;
    border-radius: 50%;
}

.plashka_user p {
    margin: 24px;
    font-size: 16px;
    font-weight: bold;
}

.invite_btn {
    font-size: 11px;
    text-transform: capitalize;
    padding: 8px;
    margin: 24px 0;
}
.modal_message{
    text-align: center;
}

.plashka_user.plashka_team p{

    margin-top: 7px;
    margin-bottom: 2px;
    font-size: 13px;
    padding: 0;
    font-weight: normal;
    line-height: 16px;
}

.plashka_user .sent{
    
    margin: 24px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center !important;
    color:green !important;
}

#content_modal .invite_btn{
    width: 160px;
    height: 40px;
    text-align: center;

}

/*//////////////////////////////////RADIO////////////////////////////////////////////*/



.field-tournaments-flag input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}

.field-tournaments-flag label {
  display: inline-block;
  vertical-align:middle;
  height: 60px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  background-color: #454545;
  color: white;
  padding: 5px 18px;
  border-radius: 3px;
  transition: all .3s ease-out;
 margin-left: 15px;
 font-weight: normal;
 line-height: 3;
}


.center-align{
    width: 100%;
    text-align: center;

}

.field-tournaments-flag{
    margin-top: 20px;
    margin-bottom: 20px;
}

 input[type="radio"]:checked + label{
  background-color: #1f7ad3;
}


/*////////////////////////////////END RADIO/////////////////////////////////////////*/

.castom_seting input[type=number]::-webkit-inner-spin-button,
.castom_seting input[type=number]::-webkit-outer-spin-button {
    height: 50px;
    border-radius: 20%;
}